*{
    margin: 0px;
    padding: 0px;
}


/*Navbar*/


.navbar{

    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    
}


.container__navbar{

    margin-left: 150px;
    margin-right: 150px;
    padding-top: 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}

.navbar__s1{

    display: flex;

}


.navbar__s2{

    display: flex;
    font-weight: bold;
    gap: 25px;
}


.navbar__s3{

    display: flex;
    gap: 20px;
    align-items: center;

    
}



.navbar__s3 button{

    
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 70px;
    
}




/*Menu*/

.container__one{

    margin-top: 60px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    
}


.container__one__title h1{

    font-size: 50px;

}


.container__one__option{

    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;

    
}




/*Search Button*/


.container__two{

    padding: 10px;
    display: flex;
    border:  solid black 1px;
    border-radius: 30px;
    margin-top: 30px;
    margin-right: 25%;
    margin-left:25% ;
    gap: 5px;
    height: 30px;
    align-items: center;
}

.container__two input{

    border: none;
    width: 100%;
    font-size: 16px;
}


.container__two button{

background-color: #34E0A1;
color: black;
font-weight: bold;
border: solid #34E0A1 1px;
border-radius: 30px;
width: 100px;
padding: 10px;

}





/*Poster*/

.container__three{

    margin-top: 60px;
    display: flex;
    justify-content: center;
    position: relative;
    
    
    
}

.container__three__poster{

    width: 1100px;
    height: 450px;
    border-radius: 13px;
}

.container__three__message{

    width: 20%;
    color: #301D49;
    padding: 2%;
    position: absolute;
    top: 15%;
    left: 20%;
    font-size: 25px;
    font-weight: bold;
}

.container__three__button button{

    background-color: #301D49;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 15px;
    position: absolute;
    top: 80%;
    left: 22%;

}




/*Best Beaches*/


 .container__four{

    padding: 10px;
    margin-top: 70px;
    margin-left: 170px;
    width: 1120px;
    
    
    

 }


 .container__four__title h1,p{

    padding-left: 5px;
    padding-bottom: 10px;

 }



.container__four__beach{

    padding: 5px;
    display: flex;
    gap: 15px;
    position: relative;
    
    
}

#beach{
    width: 100%;
    height: 90%;
    border-radius: 5px;
} 

.container__four__beach__image h1{

    position: absolute;
    bottom: 40px;
    width: 20%;
    color: whitesmoke;
    padding-left: 20px;
    
    
}




/*Things to do in Chiang Mai*/

.container__five{

    padding: 10px;
    margin-top: 20px;
    margin-left: 170px;
    width: 1100px;


}

.container__five__title h1,p{

    padding-left: 5px;
    padding-bottom: 10px;
}

.container__five__things{

    display: flex;
    padding: 5px;
    gap: 15px;
}


.container__five__experiences__place img{

    width: 267px;
    border-radius: 5px;
}

.container__five__experiences__place h1{

    font-size: medium;
 }

 .container__five__experiences__place p{

    font-size: medium;
 }







/*Top experiences*/

.container__six{

    padding: 10px;
    margin-top: 70px;
    margin-left: 170px;
    width: 1100px;
    
    

 }


 .container__six h1{

    padding-left: 5px;
    padding-bottom: 10px;
 }



 .container__six__experiences{

    display: flex;
    padding: 5px;
    gap: 15px;

 }

 
 .container__six__experiences__place img{

    width: 267px;
    border-radius: 5px;
 }


 .container__six__experiences__place h1{

    font-size: medium;
 }

 .container__six__experiences__place p{

    font-size: medium;
 }



 


 /*Guid*/

 .container__seven{

    margin-top: 200px;
    display: flex;
    justify-content: center;
    position: relative;

 }


 .container__seven__guid{
    width: 1100px;
    height: 600px;
    border-radius: 13px;
 }


 .container__seven__message{

    width: 50%;
    color: black;
    padding: 2%;
    position: absolute;
    top: 55%;
    left: 13%;
    font-size: 25px;
    font-weight: bold;


 }


 .container__seven__button button{

    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    font-size: medium;
    border-radius: 30px;
    padding: 15px;
    position: absolute;
    top: 85%;
    left: 15%;
 }





 /*Explore*/


 .container__eight{

    background-color: #FAF1ED;
    margin-top: 110px;
    height: 450px;
 }


 .container__eight__s1{

    padding-top: 20px;
    margin-left: 165px;
    height: 400px;

    
    
 }


 .container__eight__s1 h1{

    padding-bottom: 20px;
 }


 .container__eight__s1__place{

    display: flex;
    padding: 5px;
    gap: 15px;
    font-weight: bold;
    text-align: center;

 }


 .container__eight__s1__place__image img{

    width: 360px;
    height: 250px;
    border-radius: 5px;
    padding-bottom: 20px;
    
 }

 




 /*Dream Your Next Trip*/

 .container__nine{

    padding: 10px;
    margin-top: 70px;
    margin-left: 170px;
    width: 800px;
 }


 .container__nine p{

    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
    font-weight: bold;

 }


 .container__nine__s1{

    display: flex;
    gap: 15px;
    position: relative;
 }


 .container__nine__s1__place img{

    width: 268px;
    border-radius: 5px;
    
    
 }

 .container__nine__s1__place h1{

    position: absolute;
    bottom: 20px;
    width: 20%;
    color: whitesmoke;
    padding-left: 20px;
 }




 /*Top destinations*/


 .container__ten{

    padding: 10px;
    margin-top: 50px;
    margin-left: 170px;
    width: 1100px;

 }


 .container__ten h1{

    padding-bottom: 20px;
 }
 

 .container__ten__s1{

    display: flex;
    gap: 15px;
    position: relative;
 }


 .container__ten__s1__place img{

    width: 267px;
    border-radius: 5px;
    
 }


 .container__ten__s1__place h1{

    position: absolute;
    bottom: 2px;
    width: 25%;
    color: whitesmoke;
    padding-left: 5px;
    
 }



 /*Video*/


 .video{

    display: flex;
    margin-top: 70px;
    justify-content: center;
 }


 .video__desc{

    padding: 20px;
    margin-left: 180px;
    
 }


/*poster*/


.poster{

   margin-top: 60px;
   width: 100%;
}





 /*Trending in Travel*/



 .trending{

   padding: 10px;
   margin-top: 50px;
   margin-left: 170px;
   width: 1100px;
 }

 .trending h2{

   padding-bottom: 30px;
 }

 .trending__desc{

   border-bottom: solid black 2px;
   width: 150px;
   margin-bottom: 30px;
   font-weight: bold;
 }


 .trending__one{

   display: flex;
   gap: 200px;
   
 }

 

 
 /*footer*/


 /*footer__top*/
 
 .footer{

   margin-top: 20px;
   background-color: #FAF1ED;
 }


 .footer__top{

   padding-top: 40px;
   margin-left: 170px;
   display: flex;
   gap: 200px;
   width: 1200px;

 }

 .footer__top__one{

   
   display: flex;
   gap: 70px;
   font-size: 14px;


 }


 

 /*footer__bottom*/


 .footer__bottom{

   padding-top: 10px;
   margin-left: 170px;
   width: 1200px;
 }

 .footer__bottom__one__s1{

   display: flex;
  
 }

 .footer__bottom__one__s1 p{

   font-size: smaller;
 }


 .footer__bottom__one{

   display: flex;
   justify-content: space-between;

 }


 .footer__bottom__one__s2{

   width: 500px;

 }


 .footer__bottom__one__s2 button{

   background-color: white;
   width: 150px;
   height:30px;
   font-weight: bold;
   border: solid #E0E0E0 2px;
   border-radius: 10px;

 }


 .footer__bottom__two{

   display: flex;
   justify-content: space-between;
   width: 1100px;
 }

 .footer__bottom__two__s1{

   font-size: small;
   width: 700px;
 }


#footer__desc{

   font-size: medium;
   font-weight: bolder;
   text-decoration: underline;
}


.footer__bottom__two__s2{

   display: flex;
   gap: 20px;
}